// Brand
$primary: #e16123;
$primary-hover: #c9521d;
$primary-text: #ffffff;

// Body
$body-bg: #f7f7f7;
$body-color: #242424;

// Components
$card-bg: #f7f7f7;

// Map overrides Bootstrap uses
$theme-colors: (
        "primary": $primary,
        "dark": $body-color,
        "light": $primary-text
);
