<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en" class="no-outlines">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ==== Document Title ==== -->
    <title>{% block title %}{{ page_title }}{% endblock %} - LManagement</title>

    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png' %}" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,500">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'v1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/perfect-scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/morris.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/jquery-jvectormap.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/horizontal-timeline.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/weather-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/ion.rangeSlider.skinFlat.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'v1/css/style.css' %}">

    <!-- Page Level Stylesheets -->

</head>
<body>

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar Start -->
    <header class="navbar navbar-fixed">
        <!-- Navbar Header Start -->
        <div class="navbar--header">
            <!-- Logo Start -->
            <a href="{% url 'dashboard' %}" class="logo">
                <img src="{% static 'v1/img/logo.png' %}" alt="">
            </a>
            <!-- Logo End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Sidebar Toggle Button End -->
        </div>
        <!-- Navbar Header End -->

        <!-- Sidebar Toggle Button Start -->
        <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Sidebar Toggle Button End -->

        <div class="navbar--nav ml-auto">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-bell"></i>
                        <span class="badge text-white bg-blue">7</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="mailbox_inbox.html" class="nav-link">
                        <i class="fa fa-envelope"></i>
                        <span class="badge text-white bg-blue">4</span>
                    </a>
                </li>

                <!-- Nav User Start -->
                <li class="nav-item dropdown nav--user online">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <i class="fa fa-2x fa-user-circle"></i>
                        <span>{{ user.get_full_name }}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="profile.html"><i class="far fa-user"></i>Profile</a></li>
                        <li><a href="mailbox_inbox.html"><i class="far fa-envelope"></i>Inbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
                <!-- Nav User End -->
            </ul>
        </div>
    </header>
    <!-- Navbar End -->

    <!-- Sidebar Start -->
    <aside class="sidebar" data-trigger="scrollbar">
        <!-- Sidebar Profile Start -->
        <div class="sidebar--profile">
            <div class="profile--img">
                <a href="profile.html">
                    <i class="fa fa-2x fa-user-circle"></i>
                </a>
            </div>

            <div class="profile--name">
                <a href="profile.html" class="btn-link">{{ user.get_full_name }}</a>
            </div>

            <div class="profile--nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="profile.html" class="nav-link" title="User Profile">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="lock-screen.html" class="nav-link" title="Lock Screen">
                            <i class="fa fa-lock"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mailbox_inbox.html" class="nav-link" title="Messages">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" title="Logout">
                            <i class="fa fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Sidebar Profile End -->

        <!-- Sidebar Navigation Start -->
        <div class="sidebar--nav">
            <ul>
                <li>
                    <ul>
                        <li>
                            <a href="{% url 'dashboard' %}">
                                <i class="fa fa-home"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#">DFIA</a>
                    <ul style="display: none;">
                        <li>
                            <a href="{% url 'license-list' %}?is_active=True&is_null=false&is_expired=false">
                                <i class="fa fa-list"></i>
                                <span>Active DFIA</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'license-list' %}">
                                <i class="fa fa-list-alt"></i>
                                <span>All DFIA</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <hr style="margin:0;border-top:1px solid orangered">

                <li>
                    <a href="#">Allotment</a>
                    <ul style="display: none;">
                        <li>
                            <a href="{% url 'allotment-list' %}?type=AT&company=&item_name=&allotment_details__item__license__license_number=&is_be=false">
                                <i class="fa fa-list"></i>
                                <span>Pending Allotments</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <hr style="margin:0;border-top:1px solid orangered">
                <li>
                    <a href="#">BILL OF ENTRY</a>
                    <ul style="display: none;">
                        <li>
                            <a href="{% url 'bill-of-entry-list' %}?is_invoice=false">
                                <i class="fa fa-list"></i>
                                <span>Pending Invoices</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'bill-of-entry-list' %}?port=513">
                                <i class="fa fa-list"></i>
                                <span>JNPT BOE</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'bill-of-entry-list' %}?port=489">
                                <i class="fa fa-list"></i>
                                <span>Mundra BOE</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <hr style="margin:0;border-top:1px solid orangered">

                <hr style="margin:0;border-top:1px solid orangered">
                <li>
                    <a href="#">Reports</a>
                    <ul style="display: none;">
                        <li>
                            <a href="{% url 'refresh_items' %}">
                                <i class="fa fa-list"></i>
                                <span>Refresh Balance</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'item_report' %}">
                                <i class="fa fa-list"></i>
                                <span>Items List</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-list"></i>
                                <span>Live DFIA List</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="{% url 'report_biscuit' 'live' 'parle' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Parle Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'live' 'mi' %}">
                                        <i class="fa fa-list"></i>
                                        <span>MI Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'live' 'GE' %}">
                                        <i class="fa fa-list"></i>
                                        <span>GE Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'live' 'sm' %}">
                                        <i class="fa fa-list"></i>
                                        <span>SM Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'live' 'co' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Conversion Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'live' 'ra' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Ravi Foods Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'live' 'ot' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Other Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_confectionery' 'live' 'ge' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Confectionery List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_confectionery' 'live' 'co' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Confectionery Conversion List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_confectionery_milk' 'live' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Confectionery Milk List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_namkeen' 'live' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Namkeen List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_pickle' 'live' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Pickle List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_tractor' 'live' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Tractor List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_steel' 'live' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Steel List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_glass' 'live' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Glass List</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-list"></i>
                                <span>Expired DFIA List</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="{% url 'report_biscuit' 'expired' 'parle' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Parle Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'expired' 'mi' %}">
                                        <i class="fa fa-list"></i>
                                        <span>MI Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'expired' 'GE' %}">
                                        <i class="fa fa-list"></i>
                                        <span>GE Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'expired' 'sm' %}">
                                        <i class="fa fa-list"></i>
                                        <span>SM Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_biscuit' 'expired' 'ot' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Other Biscuits List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_confectionery' 'expired' 'ge' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Confectionery List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_confectionery_milk' 'expired' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Confectionery List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_namkeen' 'expired' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Namkeen List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_pickle' 'expired' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Pickle List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_tractor' 'expired' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Tractor List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_steel' 'expired' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Steel List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'report_glass' 'expired' %}">
                                        <i class="fa fa-list"></i>
                                        <span>Glass List</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <hr style="margin:0;border-top:1px solid orangered">
                <li>
                    <a href="#">Addtional</a>
                    <ul style="display: none;">
                        <li>
                            <a href="{% url 'ledger-upload' %}">
                                <i class="fa fa-upload"></i>
                                <span>Upload Ledger</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'bill_of_entry_fetch' %}">
                                <i class="fa fa-list"></i>
                                <span>Fetch Company</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'movement-list' %}">
                                <i class="fa fa-list"></i>
                                <span>DFIA Movements</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <hr style="margin:0;border-top:1px solid orangered">
                <li>
                    <a href="#">Master</a>
                    <ul style="display: none;">
                        <li>
                            <a href="{% url 'Sion-list' %}">
                                <i class="fa fa-plus"></i>
                                <span>Sion</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'item-list' %}">
                                <i class="fa fa-list"></i>
                                <span>Items</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'hs-code-list' %}">
                                <i class="fa fa-list"></i>
                                <span>HSN Code</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'company-list' %}">
                                <i class="fa fa-list"></i>
                                <span>Company</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar Navigation End -->
    </aside>
    <!-- Sidebar End -->

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Page Title Start -->
                        <h2 class="page--title h5">{{ page_title }}</h2>
                        <!-- Page Title End -->

                        {#                        <ul class="breadcrumb">#}
                        {#                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>#}
                        {#                            <li class="breadcrumb-item active"><span>Blank Page</span></li>#}
                        {#                        </ul>#}
                    </div>

                    <div class="col-lg-6">
                        <!-- Summary Widget Start -->
                        <div class="summary--widget">
                            <div class="summary--item">
                                {% if dfia_count %}
                                    <p class="summary--title">Total DFIA</p>
                                    <p class="summary--stats text-green">{{ dfia_count }}</p>
                                {% endif %}
                            </div>
                            <div class="summary--item">
                                {% if pending_allotments %}
                                    <p class="summary--title">Pending Allotments</p>
                                    <p class="summary--stats text-orange">{{ pending_allotments }}</p>
                                {% endif %}
                            </div>
                            <div class="summary--item">
                                {% if pending_invoices %}
                                    <p class="summary--title">Pending Invoices</p>
                                    <p class="summary--stats text-red">{{ pending_invoices }}</p>
                                {% endif %}
                            </div>

                        </div>
                        <!-- Summary Widget End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">
            {% block content %}
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel Title Here</h3>

                        <div class="dropdown">
                            <button type="button" class="btn-link dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="far fa-circle"></i>Panel Option 1</a></li>
                                <li><a href="#"><i class="far fa-circle"></i>Panel Option 2</a></li>
                                <li><a href="#"><i class="far fa-circle"></i>Panel Option 3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-content">
                        <p>Panel Content Here</p>
                    </div>
                </div>
            {% endblock %}
        </section>
        <!-- Main Content End -->

        <!-- Main Footer Start -->
        <footer class="main--footer main--footer-light">
            <p>Copyright &copy; <a href="#">DAdmin</a>. All Rights Reserved.</p>
        </footer>
        <!-- Main Footer End -->
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->

<!-- Scripts -->
<script src="{% static 'v1/js/jquery.min.js' %}"></script>
<script src="{% static 'v1/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'v1/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'v1/js/jquery.formset.js' %}"></script>
<script src="{% static 'v1/js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'v1/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'v1/js/raphael.min.js' %}"></script>
<script src="{% static 'v1/js/morris.min.js' %}"></script>
<script src="{% static 'v1/js/select2.min.js' %}"></script>
<script src="{% static 'v1/js/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'v1/js/jquery-jvectormap-world-mill.min.js' %}"></script>
<script src="{% static 'v1/js/horizontal-timeline.min.js' %}"></script>
<script src="{% static 'v1/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'v1/js/jquery.steps.min.js' %}"></script>
<script src="{% static 'v1/js/dropzone.min.js' %}"></script>
<script src="{% static 'v1/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'v1/js/datatables.min.js' %}"></script>
<script src="{% static 'v1/js/main.js' %}"></script>

<!-- Page Level Scripts -->
{% block extra_js %}

{% endblock %}
</body>
</html>
