<div class="card card-{{ object.id }}">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-1">
                <label for="">Date:</label>
                <p><b>{{ object.modified_on|title }}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">Type:</label>
                <p><b>{{ object.get_type_display|title }}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">Port:</label>
                <p><b>{{ object.port|upper }}</b></p>
            </div>
            <div class="col-lg-2">
                <label for="">Importer:</label>
                <p><b>{{ object.company|title }}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">Item:</label>
                <p><b>{{ object.item_name|title }}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">Quantity:</label>
                <p><b>{{ object.required_quantity|title }}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">Unit Price:</label>
                <p><b>{{ object.unit_value_per_unit|title }}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">Value:</label>
                <p><b>{{ object.required_cif_fc|title }}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">Invoice:</label>
                <p><b>{% if object.invoice %}{{ object.invoice|title }}{% endif %}</b>
                </p>
            </div>
            <div class="col-lg-1">
                <label for="">ETA:</label>
                <p><b>{% if object.estimated_arrival_date %}{{ object.estimated_arrival_date }}{% endif %}</b></p>
            </div>
            <div class="col-lg-1">
                <label for="">BL Details</label>
                <p><b>{% if object.bl_detail %}{{ object.bl_detail|title }}{% endif %}</b></p>
            </div>
        </div>
    </div>
</div>
<div class="card card-{{ object.id }}">
    <div class="card-header" style="background: #ffffff">
        <ul class="nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" onclick="fetch_page(this)" data-toggle="pill" href="#div-{{ object.id }}"
                   data-url="{% url 'allotment-update' object.id %}"
                   data-target="div-{{ object.id }}" role="tab" aria-controls="pills-home"
                   aria-selected="true">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="fetch_page(this)" data-toggle="pill" role="tab"
                   aria-controls="pills-home" aria-selected="true" href="#div-{{ object.id }}"
                   data-url="{% url 'allotment-details' object.id %}?description={{ object.item_name }}&remove_expired=false&remove_null=true&sort=license_expiry"
                   data-target="div-{{ object.id }}">Allotment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="fetch_page(this)" data-toggle="pill" role="tab"
                   aria-controls="pills-home" aria-selected="true" href="#div-{{ object.id }}"
                   data-url="{% url 'allotment-verify' object.id %}"
                   data-target="div-{{ object.id }}">View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab"
                   aria-controls="pills-home" aria-selected="true" href="{% url 'allotment-download' object.id %}"
                   target="_blank">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="fetch_page(this)" data-toggle="pill" role="tab"
                   aria-controls="pills-home" aria-selected="true" href="#div-{{ object.id }}"
                   data-url="{% url 'allotment-generate-aro' object.id %}"
                   data-target="div-{{ object.id }}">Generate Letters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="fetch_page(this)" data-toggle="pill" role="tab"
                   aria-controls="pills-home" aria-selected="true" href="#div-{{ object.id }}"
                   data-url="{% url 'allotment-tl' object.id %}"
                   data-target="div-{{ object.id }}">Transfer Letter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="fetch_page(this)" data-toggle="pill" role="tab"
                   aria-controls="pills-home" aria-selected="true" href="#div-{{ object.id }}"
                   data-url="{% url 'allotment-delete' object.id %}"
                   data-target="div-{{ object.id }}">Delete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="fetch_page(this)" data-toggle="pill" role="tab"
                   aria-controls="pills-home" aria-selected="true" href="#div-{{ object.id }}"
                   data-url="{% url 'copy_allotment' object.id %}"
                   data-target="div-{{ object.id }}">Copy</a>
            </li>
        </ul>
    </div>
    <div class="card-body data-target-div" id="div-{{ object.id }}">
    </div>
</div>
