{% extends "pdf_base.html" %}
{% load app_tags %}
{% load humanize %}
{% block extra_style %}

    <style type="text/css">
        @page {
            size: A4 landscape;
            margin: 1cm;
        }


        .table th,
        .table td {
            padding: 1px;
            vertical-align: top;
            border: 1px solid #000000;
            text-align: center;
        }

        .table td.pending {
            background-color: #FF8C00;
            color: #000000;
            border: 1px solid #000000;

        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
            width: 100%;
        }

        .table tbody + tbody {
            border-top: 2px solid #000;
        }

        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .pending {
            background-color: #ff4500 !important;
        }

        .list-group p {
            width: 100%;
            height: 18px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
{% endblock %}

{% block content %}
    <table>
        <tr>
            {% if is_alloted %}
                <td colspan="4"><h3>Pending BOE</h3></td>
            {% else %}
                <td colspan="4"><h3>Pending Allotments</h3></td>
            {% endif %}
            <td><b>{{ today }}</b></td>
        </tr>
        <tr style="text-align: center">
            <td>-</td>
            <td><b>Total USD $</b></td>
            <td><b>{% get_total object_list as total %}
                {{ total }}</b></td>
            <td>-</td>
        </tr>
    </table>
    {% regroup object_list by company as company %}
    {% for data in company %}
        <h4 style="text-align: center">{{ data.grouper }}</h4>
        {% regroup data.list by item_name as item_name %}
        {% for item_name_data in item_name %}
            <table class="table table-bordered">
                <tr>
                    <th>Sr No</th>
                    <th>Allotment Date</th>
                    <th>Port</th>
                    <th>Quantity (KGS)</th>
                    <th>Unit Price ($)</th>
                    <th>Value ($)</th>
                    <th>Item Name</th>
                    <th>Invoice</th>
                    <th>ETA</th>
                    <th>DFIA No.</th>
                    <th>DFIA Date.</th>
                    <th>DFIA Port.</th>
                    <th>Item Sr. NO.</th>
                    <th>DFIA Qty.</th>
                    <th>DFIA $.</th>
                </tr>
                <tbody>
                {% for allotment in item_name_data.list %}
                    <tr>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>{{ forloop.counter }}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>{{ allotment.modified_on }}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>{{ allotment.port }}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>{{ allotment.required_quantity|intcomma }}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>{{ allotment.unit_value_per_unit|intcomma }}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>{{ allotment.required_value|intcomma }}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>{{ allotment.item_name }}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>
                            {% if allotment.invoice %}{{ allotment.invoice }}{% else %}-{% endif %}</td>
                        <td {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>
                            {% if allotment.bl_detail %}{{ allotment.bl_detail }}{% else %}-{% endif %}
                            {% if allotment.estimated_arrival_date %}{{ allotment.estimated_arrival_date }}{% else %}
                                -{% endif %}</td>
                        <td colspan="6"
                            {% if not allotment.allotment_details.all.exists %}class="pending"{% endif %}>
                            <table>
                                {% for allotment_detail in allotment.allotment_details.all %}
                                    <tr>
                                        <td>{{ allotment_detail.item.license }}</td>
                                        <td>{{ allotment_detail.item.license.license_date }}</td>
                                        <td>{{ allotment_detail.item.license.port }}</td>
                                        <td>{{ allotment_detail.serial_number }}</td>
                                        <td>{{ allotment_detail.qty|intcomma }}</td>
                                        <td>{{ allotment_detail.cif_fc|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><b>Total</b></td>
                                    <td>{{ allotment.alloted_quantity|intcomma }}</td>
                                    <td>{{ allotment.allotted_value|intcomma }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td><b>Total Quantity</b></td>
                    <td><b>{% get_total_quantity item_name_data.list %}</b></td>
                    <td><b>Total USD $</b></td>
                    <td><b>{% get_total item_name_data.list %}</b></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                </tbody>
            </table>
            <br>
        {% endfor %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td><b>Total Quantity</b></td>
                <td><b>{% get_total_quantity data.list %}</b></td>
                <td><b>Total USD $</b></td>
                <td><b>{% get_total data.list %}</b></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <br>
    <table class="table border">
        <thead>
        <th>Item</th>
        <th>Quanity</th>
        <th>Value</th>
        </thead>
        {% for item in queryset %}
            <tr style="text-align: center">
                <td>{{ item.item_name }}</td>
                <td>{{ item.total_qty }}</td>
                <td>{{ item.value|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        <tr style="text-align: center">
            <td>-</td>
            <td><b>Total USD $</b></td>
            <td><b>{{ total }}</b></td>
        </tr>


    </table>
    {{ df|safe }}
{% endblock %}
