{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}
{% load i18n %}
{% load app_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            {% csrf_token %}
            {% if table.page and table.paginator.num_pages > 1 %}
                <nav aria-label="Table navigation">
                    <div class="pull-left">
                        <ul class="pagination">
                            {% if table.page.has_previous %}
                                {% block pagination.previous %}
                                    <li class="previous">
                                        <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                                            <span aria-hidden="true">&laquo;</span>
                                            {% trans 'previous' %}
                                        </a>
                                    </li>
                                {% endblock pagination.previous %}
                            {% endif %}
                            {% if table.page.has_previous or table.page.has_next %}
                                {% block pagination.range %}
                                    {% for p in table.page|table_page_range:table.paginator %}
                                        <li {% if p == table.page.number %}class="active"{% endif %}>
                                            {% if p == '...' %}
                                                <a href="#">{{ p }}</a>
                                            {% else %}
                                                <a href="{% querystring table.prefixed_page_field=p %}">
                                                    {{ p }}
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                {% endblock pagination.range %}
                            {% endif %}
                            {% if table.page.has_next %}
                                {% block pagination.next %}
                                    <li class="next">
                                        <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">
                                            {% trans 'next' %}
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endblock pagination.next %}
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>View Allotment</h3>
                    <table class="table table-bordered" style="border: grey 2px solid">
                        <thead>
                        <th>Sr No.</th>
                        <th>Item No.</th>
                        <th>DFIA No.</th>
                        <th>DFIA Dt.</th>
                        <th>Product Description</th>
                        <th>DFIA Expiry</th>
                        <th>Exporter</th>
                        <th>Alloted Qty</th>
                        <th>Alloted Cif FC</th>
                        <th>Notf No.</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for allotment in object.allotment_details.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ allotment.serial_number }}</td>
                                <td>{{ allotment.license_number }}</td>
                                <td>{{ allotment.license_date }}</td>
                                <td>{{ allotment.product_description }}</td>
                                <td>{{ allotment.license_expiry }}</td>
                                <td>{{ allotment.exporter }}</td>
                                <td>{{ allotment.qty }}</td>
                                <td>{{ allotment.cif_fc }}</td>
                                <td>{{ allotment.notification_number }}</td>
                                <td>
                                    <a class="btn btn-danger" onclick="fetch_page(this)"
                                       data-url="{% url 'allotment-item-delete' allotment.id %}?allotment={{ object.id }}"
                                       data-target="div-{{ object.id }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>{{ object.alloted_quantity }}</td>
                            <td>{{ objectpytho.allotted_value }}</td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
