<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GMPL</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
            <div class="container-fluid">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
                    <ul class="navbar-nav navbar-nav-left">
                        <li class="nav-item ml-0 mr-5 d-lg-flex d-none">
                            <a href="#" class="nav-link horizontal-nav-left-menu"><i
                                    class="mdi mdi-format-list-bulleted"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                               id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-bell mx-0"></i>
                                <span class="count bg-success">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="notificationDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <i class="mdi mdi-information mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Just now
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-warning">
                                            <i class="mdi mdi-settings mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Settings</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Private message
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-info">
                                            <i class="mdi mdi-account-box mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                               id="messageDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-email mx-0"></i>
                                <span class="count bg-primary">4</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="messageDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="{% static 'images/faces/face4.jpg' %}" alt="image"
                                             class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            The meeting is cancelled
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="{% static 'images/faces/face2.jpg' %}" alt="image"
                                             class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            New product launch
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="{% static 'images/faces/face3.jpg' %}" alt="image"
                                             class="profile-pic">
                                    </div>
                                    <div class="preview-item-content flex-grow">
                                        <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                                        </h6>
                                        <p class="font-weight-light small-text text-muted mb-0">
                                            Upcoming board meeting
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link count-indicator "><i class="mdi mdi-message-reply-text"></i></a>
                        </li>
                    </ul>
                    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                        <a class="navbar-brand brand-logo" href="{% url 'dashboard' %}"><img
                                src="{% static 'images/logo.png' %}"
                                alt="logo"/></a>
                        <a class="navbar-brand brand-logo-mini" href="index.html"><img
                                src="{% static 'images/logo.png' %}" alt="logo"/></a>
                    </div>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-lg-flex d-none">
                            <a href="{% url 'movement-list' %}" class="btn btn-success">License Movement</a>
                        </li>
                        <li class="nav-item dropdown d-lg-flex d-none">
                            <a class="dropdown-toggle show-dropdown-arrow btn btn-info"
                               id="nreportDropdown" href="#" data-toggle="dropdown">
                                Add Objects
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                 aria-labelledby="nreportDropdown">
                                <a href="{% url 'Sion-list' %}" class="dropdown-item">
                                    <i class="mdi mdi-arrange-send-to-back text-primary"></i>
                                    SION
                                </a>
                                <a href="{% url 'hs-code-list' %}" class="dropdown-item">
                                    <i class="mdi mdi-midi-port text-primary"></i>
                                    HS Code
                                </a>
                                <a href="{% url 'item-list' %}" class="dropdown-item">
                                    <i class="mdi mdi-arrow-all text-primary"></i>
                                    Item
                                </a>
                                <a href="{% url 'company-list' %}" class="dropdown-item">
                                    <i class="mdi mdi-arrow-all text-primary"></i>
                                    Company
                                </a>
                                <a href="{% url 'ledger-upload' %}" class="dropdown-item">
                                    <i class="mdi mdi-arrow-all text-primary"></i>
                                    Upload Ledger
                                </a>
                            </div>
                        </li>
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <span class="nav-profile-name">Admin</span>
                                <span class="online-status"></span>
                                <img src="{% static 'images/profile.svg' %}" alt="profile"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                 aria-labelledby="profileDropdown">
                                <a href="{% url 'logout' %}" class="dropdown-item">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                            data-toggle="horizontal-menu-toggle">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="bottom-navbar">
            <div class="container">
                <ul class="nav page-navigation">
                    <li class="nav-item {% if 'license' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{% url 'license-list' %}">
                            <i class="mdi mdi-file-document-box menu-icon"></i>
                            <span class="menu-title">License List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'allotment-list' %}?type=AT&company=&item_name=&allotment_details__item__license__license_number=&is_be=false"
                           class="nav-link">
                            <i class="mdi mdi-chart-areaspline menu-icon"></i>
                            <span class="menu-title">Allotment List</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'bill-of-entry-list' %}" class="nav-link">
                            <i class="mdi mdi-chart-areaspline menu-icon"></i>
                            <span class="menu-title">Bill Of Entry</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="footer-wrap">
                    <div class="w-100 clearfix">
                        <span class="d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a
                                href="https://www.templatewatch.com/" target="_blank">templatewatch</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                                class="mdi mdi-heart-outline"></i></span>
                    </div>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'js/template.js' %}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
<script src="{% static 'vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js' %}"></script>
<script src="{% static 'vendors/justgage/raphael-2.1.4.min.js' %}"></script>
<script src="{% static 'vendors/justgage/justgage.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script>
    $(function () {
        $("#accordion").accordion();
    });

    function fetch_page(button) {
        event.preventDefault();
        url = button.dataset.url;
        target = "#" + button.dataset.target;
        $.get(url, function (data, status) {
            $(target).html(data);
            $(target).show();
        });
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Check if this cookie string begin with the name we want
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function ajax_post(button) {
        event.preventDefault();
        var form = $(button).closest("form");
        try {
            boe = form.serializeArray()[2]['value']
        } catch (err) {
            console.log(err.message);
        }
        target_div = button.dataset.target;
        $.ajax({
            url: form.attr("action"),
            method: form.attr("method"),
            data: form.serialize(),
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function (data) {
                if (data.url != undefined) {
                    window.location.href = data.url;
                }
                if (target_div.indexOf("card") >= 0) {
                    target = '.' + target_div;
                    $(target).remove();
                } else if (target_div.indexOf("license-list") >= 0) {
                    target = '#' + target_div;
                    $(target).html(data);
                } else if (target_div.indexOf('bill_of_entry') >= 0) {
                    if (data.indexOf('errorlist') >= 0) {
                        target = '#' + target_div;
                        $(target).html(data);
                    } else {
                        fetch_boe(boe)
                    }
                } else {
                    target = '#' + target_div;
                    $(target).html(data);
                    $(target).show();
                }
                $(function () {
                    $("#accordion").accordion();
                });

            },
            error: function (data, status) {
                if (target_div.indexOf("card") >= 0) {
                    target = '.' + target_div;
                    $(target).remove();
                } else {
                    target = '#' + target_div;
                    $(target).html(data);
                    $(target).show();
                }
                $(function () {
                    $("#accordion").accordion();
                });
            }
        });
    }


</script>
{% block extra_js_script %}
{% endblock %}
<!-- End custom js for this page-->
</body>
</html>