{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% load django_tables2 %}
{% load core_tag %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-lg-12 grid-margin stretch-card">
            <div class="card">
                <ul class="card-header nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#license-list"
                           role="tab" aria-controls="pills-home" aria-selected="true">Active Licenses</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% for table in tables %}
        <div class="row">
            <div class="col-xs-12 col-lg-12 grid-margin stretch-card">

                <div class="card">
                    <ul class="card-header nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <h1>{{ table.label }}</h1>
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="tab-content tab-no-active-fill-tab-content">
                            <div class="tab-pane fade show active" id="license-list" role="tabpanel"
                                 aria-labelledby="license-list">
                                <table class="table table-responsive table-bordered">
                                    {% if not 'EMPTY' in table.label %}
                                        <thead>
                                        <th>Sr NO</th>
                                        <th>DFIA</th>
                                        <th>DFIA DT</th>
                                        <th>DFIA Exp</th>
                                        <th>Exporter</th>
                                        <th>Total CIF</th>
                                        <th>Balance CIF</th>
                                        <th>Glass Formers PD</th>
                                        <th>Glass Formers QTY</th>
                                        <th>Intermediates namely PD</th>
                                        <th>Intermediates namely QTY</th>
                                        <th>Modifiers namely PD</th>
                                        <th>Modifiers namely QTY</th>
                                        <th>Other Special Additives PD</th>
                                        <th>Other Special Additives QTY</th>
                                        <th>PP PD</th>
                                        <th>PP QTY</th>
                                        </thead>
                                    {% else %}
                                        <thead>
                                        <th>Sr NO</th>
                                        <th>DFIA</th>
                                        <th>DFIA DT</th>
                                        <th>DFIA Exp</th>
                                        <th>Exporter</th>
                                        <th>Total CIF</th>
                                        <th>Balance CIF</th>
                                        </thead>
                                    {% endif %}
                                    <tbody>
                                    {% if not 'EMPTY' in table.label %}
                                        {% for object in table.table %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>'{{ object.license_number }}</td>
                                                <td>{{ object.license_date }}</td>
                                                <td>{{ object.license_expiry_date }}</td>
                                                <td>{{ object.exporter }}</td>
                                                <td>{{ object.opening_balance }}</td>
                                                <td>{{ object.get_balance_cif }}</td>
                                                <td>{{ object.get_glass_formers.item }}</td>
                                                <td>{{ object.get_glass_formers.balance_quantity }}</td>
                                                <td>{{ object.get_intermediates_namely.item }}</td>
                                                <td>{{ object.get_intermediates_namely.balance_quantity }}</td>
                                                <td>{{ object.get_modifiers_namely.item }}</td>
                                                <td>{{ object.get_modifiers_namely.balance_quantity }}</td>
                                                <td>{{ object.get_other_special_additives.item }}</td>
                                                <td>{{ object.get_other_special_additives.balance_quantity }}</td>
                                                <td>{{ object.get_glass_packing.item }}</td>
                                                <td>{{ object.get_glass_packing.balance_quantity }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        {% for object in table.table %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>'{{ object.license_number }}</td>
                                                <td>{{ object.license_date }}</td>
                                                <td>{{ object.license_expiry_date }}</td>
                                                <td>{{ object.exporter }}</td>
                                                <td>{{ object.opening_balance }}</td>
                                                <td>{{ object.get_balance_cif }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block extra_js_script %}
    <script>

        var table = document.getElementById("table"), sumVal = 0;

        for (var i = 1; i < table.rows.length; i++) {
            sumVal = sumVal + parseInt(table.rows[i].cells[2].innerHTML);
        }

        document.getElementById("val").innerHTML = "Sum Value = " + sumVal;
        console.log(sumVal);

    </script>

{% endblock %}
